.genericForm{
	position: absolute;
	top:200px;
	padding:14px;
	font-size:12px;
	background:#EFEFEF;
	color : #991900;
	width:700px;
	/*
	 width of the parent container = 960px
	 width of this div + padding = 700+14*2 = 728
	 remaining width = 960 - 728 = 232
	 divide it between left and right sides. therefore, margin from left = 116px
	*/
	margin-left: 116px;
	/* Adds shadow to the form div */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
}


.genericForm h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.genericForm p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #991900;
padding-bottom:10px;
}

.genericForm label{
	font-weight:bold;
	text-align:right;
	width:300px;
	float:left;
	clear:left;
	margin-right: 10px;
}

.genericForm .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
}
.genericForm input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 2px #D9D8D8;
width:300px;
margin:2px 0 20px 10px;
}

#signUpButtonContainer{
	float:right;
	margin-right: 75px;
}

.genericForm button{
	clear:both;
	width:100px;
	height:30px;
	background:#991900;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	font-style: italic;
	float: right;
	padding-bottom: 5px;
}

