.genericForm{
	position: absolute;
	top:200px;
	padding:14px;
	font-size:12px;
	background:#EFEFEF;
	color : #DE0019;
	width:700px;
	/*
	 Calculation to place the box in the center 
	 width of the parent container = 960px
	 width of this div + padding = 700+14*2 = 728
	 remaining width = 960 - 728 = 232
	 divide it between left and right sides. therefore, margin from left = 116px
	*/
	margin-left: 116px;
	/* Adds shadow to the form div */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
}

.genericForm.signup{
	top:130px;
}

.genericForm.view{
	width:600px;
	/*
	Calculation to place the box in the center 
	 width of the parent container = 960px
	 width of this div + padding = 600+14*2 = 628
	 remaining width = 960 - 628 = 332
	 divide it between left and right sides. therefore, margin from left = 166px
	*/
	margin-left: 166px;
}

.genericForm h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.genericForm p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #DE0019;
padding-bottom:10px;
}

.genericForm label{
	font-weight:bold;
	text-align:right;
	width:300px;
	float:left;
	clear:left;
	margin-right: 10px;
}

.genericForm.view label{
	width:200px;
}

.genericForm .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
}

.genericForm .small .sampleLink{
	font-weight:bold;
	color:#000000;
}

.genericForm input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 2px #D9D8D8;
width:300px;
margin:2px 0 20px 10px;
}

.genericForm div.formValue{
float:left;
font-size:12px;
width:300px;
margin: 0 0 20px 10px;
color: #666666;
}

.genericForm .errorsMessage{
	color:#FF0000;
	font-size:16px;
	font-weight:bold;
}

.genericForm .error{
float:right;
color:#FF0000;
display:block;
font-size:14px;
font-weight:bold;
text-align:left;
width:380px;
margin-top:-20px;
}

#signUpButtonContainer{
	float:right;
	margin-right: 75px;
}

/* .genericForm button{
	clear:both;
	width:100px;
	height:30px;
	background:#DE0019;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	font-style: italic;
	float: right;
	padding-bottom: 5px;
} */

.button {;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 7px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-style: italic;
    font-weight:bold;
    margin-right: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

.button:hover {
    color: #CDCDCD;
    text-decoration: none;
}

.redShade {
    background:-moz-linear-gradient(center top , #DE0019, #cc0000);
    background: -webkit-gradient(linear, center top, center bottom, from(#DE0019), to(#cc0000));
}

.greenShade {
    background:-moz-linear-gradient(center top , #78FE47, #98FF72);
    background: -webkit-gradient(linear, center top, center bottom, from(#78FE47), to(#98FF72));
}

a.greenShade{
	color:#666666;
}

a.greenShade:hover{
	color:#9A9A9A;
}
