/**** Begin : CSS Reset ***/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0; 
	margin: 0; 
	font-size: 100%; 
	font-weight: normal;
} 
ol {
	margin-left: 1.4em; 
	list-style: decimal;
} 
ul {
	margin-left: 1.4em; 
	list-style:square;
} 
img {
	border: 0;
}
/*** End : CSS Reset ***/

#wrapper{
	background-color: white;
	width: 960px;
	position: relative;
	margin: 0 auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, Helvetica, sans-serif;
}

a.mainLink{
	color:#DE0019;
	text-decoration:none;
	cursor: pointer;
	/* border-right-color: #4d4d4d;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px; */
	
	border-bottom-color: #DFDFDF;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

a.mainLink:hover{
	color:#4d4d4d;
	font-weight: bold;
	text-decoration:none;
	border-bottom-color: #DE0019;
}
