#welcomeMessage{
	position: absolute;
	top:80px;
	margin-left: 20px;
}

#welcomeMessage .authUserGreeting{
	color: #4d4d4d;
}

#welcomeMessage .authUserGreeting .name{
	font-style: italic;
}

#welcomeMessage a{
	color:#991900;
	text-decoration:none;
	
	/* border-right-color: #4d4d4d;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px; */
	
	border-bottom-color: #DFDFDF;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	
}

#welcomeMessage a:hover{
	color:#4d4d4d;
	font-weight: bold;
	text-decoration:none;
	border-bottom-color: #991900;
}

#contentWrapper {
	position: absolute;
	color:red;
	top:200px;
}

img.figure {
	 
	margin-left: 225px;
}

div.logoText{
	font-style: italic;
	margin-left: 650px;
	font-size: 20px;
	color: #4d4d4d;
	margin-top: -10px;
}

div #howToCreate{
	height: 250px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 4px #DADADA;
	-moz-box-shadow: 0px 0px 8px 4px #DADADA;
	box-shadow: 0px 0px 8px 4px #DADADA;
	/* Adds the transparent background */
	/*background-color: rgba(1, 1, 1, 0.7);*/
	color: rgba(1, 1, 1, 0.7);
	background-color: #EDEDED;
}

p.stepIntro{
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
	margin-left: 50px;
	margin-right: 50px;
	color: #4d4d4d;
}

div.stepContent {
	float: left;
	width: 290px;
	color:#991900;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 13px;

}

div.stepContent span{
	font-size: 30px;
	/*float: left;*/
}