<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />

	<context:component-scan base-package="com.bizhub.bzwebapp.web" />

	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
	</bean>

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.dao.DataAccessException">dataAccessError</prop>
				<prop key="org.springframework.transaction.TransactionException">dataAccessError</prop>
			</props>
		</property>
	</bean>

	<mvc:view-controller path="/home" view-name="home" />
	
	<mvc:view-controller path="/login" view-name="login" />
	
	<mvc:view-controller path="/access_denied" view-name="accessDenied" />
	
	<bean name="/sites" class="com.bizhub.bzwebapp.web.IdentifiableEntityListController">
		<property name="viewName" value="siteList"/>
		<property name="dao" ref="siteDao"/>
	</bean>

	<bean name="/site" class="com.bizhub.bzwebapp.web.IdentifiableEntityGetController">
		<property name="viewName" value="siteView"/>
		<property name="dao" ref="siteDao"/>
	</bean>

	<bean name="/site_delete" class="com.bizhub.bzwebapp.web.IdentifiableEntityDeleteController">
		<property name="viewName" value="redirect:sites"/>
		<property name="dao" ref="siteDao"/>
	</bean>

	<bean name="/users" class="com.bizhub.bzwebapp.web.IdentifiableEntityListController">
		<property name="viewName" value="userList"/>
		<property name="dao" ref="userDao"/>
	</bean>

	<bean name="/user" class="com.bizhub.bzwebapp.web.IdentifiableEntityGetController">
		<property name="viewName" value="userView"/>
		<property name="dao" ref="userDao"/>
	</bean>

	<bean name="/user_delete" class="com.bizhub.bzwebapp.web.IdentifiableEntityDeleteController">
		<property name="viewName" value="redirect:users"/>
		<property name="dao" ref="userDao"/>
	</bean>
	
	<mvc:interceptors>
        <bean class="com.bizhub.bzwebapp.web.UserContextInterceptor" />
    </mvc:interceptors>

</beans>