<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>daoRepositoryClassName</param-name>
		<param-value>com.bizhub.bzwebapp.dao.HibernateDaoRepository</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SiteList</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.SiteListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SiteDelete</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.SiteDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SiteGet</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.SiteGetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SiteForm</servlet-name>
		<jsp-file>/siteForm.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SiteSave</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.SiteSaveServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UserList</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.UserListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserGet</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.UserGetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserForm</servlet-name>
		<jsp-file>/userForm.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>UserSave</servlet-name>
		<servlet-class>com.bizhub.bzwebapp.web.UserSaveServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiteList</servlet-name>
		<url-pattern>/sites</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteDelete</servlet-name>
		<url-pattern>/site_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteGet</servlet-name>
		<url-pattern>/site</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteForm</servlet-name>
		<url-pattern>/site_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteSave</servlet-name>
		<url-pattern>/site_save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteGet</servlet-name>
		<url-pattern>/site_edit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/user_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserForm</servlet-name>
		<url-pattern>/user_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSave</servlet-name>
		<url-pattern>/user_save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGet</servlet-name>
		<url-pattern>/user_edit</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>Database Connection Pool</description>
		<res-ref-name>jdbc/bizhub</res-ref-name>
		<res-type>javax.jdbc.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Modification Actions</web-resource-name>
			<url-pattern>/site_save</url-pattern>
			<url-pattern>/site_delete</url-pattern>
			<url-pattern>/site_add</url-pattern>
			<url-pattern>/site_edit</url-pattern>
			<url-pattern>/user_save</url-pattern>
			<url-pattern>/user_delete</url-pattern>
			<url-pattern>/user_add</url-pattern>
			<url-pattern>/user_edit</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>bizhub</realm-name>
	</login-config>

	<security-role>
		<role-name>user</role-name>
	</security-role>

</web-app>